# 1. 指向接口配置文件 (ST-Link V2) - 已修正为正斜杠
source "E:/openocd-20260302/OpenOCD-20260302-0.12.0/share/openocd/scripts/interface/stlink.cfg"
# 2. 选择传输协议 (STM32 一般使用 SWD)
transport select swd

# 3. 指向目标芯片配置文件 (STM32F1 系列)
source "E:/openocd-20260302/OpenOCD-20260302-0.12.0/share/openocd/scripts/target/stm32f1x.cfg"

# 4. 设置下载速率
adapter speed 1500